<div ng-include src="'./html/navigate.html'"></div>

<section class="py-5">
  <div class="felsokep">
    <img src="./img/banner2.jpg" alt="" class="w-100">
  </div>

  <div class="container-fluid">
    <div class="row mb-3">
      <ul class="w-auto mx-auto">
        <li class="d-inline">
          <button id="{{x.tipus_path}}" type="button" class="btn btn-warning mx-2 text-uppercase" ng-repeat="x in data.tipus" ng-click="termekFilter($event)">
            {{x.tipus}}
          </button>
        </li>
      </ul>
    </div>

    <div class="row gx-4 gx-lg-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" ng-repeat="x in data.termek" ng-if="x.tipus_path == dataFilter">
        <div class="card h-100">
          <img class="card-img-top" ng-src="./img/{{x.tipus_path}}/{{x.kep}}" alt="..." />
          <div class="card-body p-2">
            <div class="text-center">
              <h5 class="megnevezes">{{x.megnevezes}}</h5>
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="leiras">{{x.leiras}}</div>
              </div>
              <div class="ar">{{x.ar}} Ft</div>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-warning border border-dark" ng-click="toCart(x)">Vásárlás</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Lábléc-->
<footer class="footer text-center text-lg-start text-muted mt-10"
        ng-include src="'./html/footer.html'">
</footer>